body
{
    margin: 0;
    background-color: #585858;
    overflow: hidden;
}

.bg-wood
{
    background-image: url('../images/Wood3.jpg');
}

.body{
    opacity: 1;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
}

.frame
{
    width: 350px;
    height: 500px;
    background-image: linear-gradient(224deg, #000000, #7e6d6d);
    border-radius: 10px;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 10px 20px 30px rgb(14, 14, 14);
    justify-content: center;
    
    appearance: none;
    border: none;
    margin-top: 20px;
}

.display{
    width: 80%;
    padding: 12px;
    font-size: larger;
    border: 2px solid #ccc;
    background-color: rgb(31, 30, 30);
    margin-bottom: 10px;
    border-radius: 13px;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    overflow: scroll;
}



button
{
    width: 20%;
    margin: 3px;
    padding: 20px;
    font: bold;
    border-radius: 7px;
    border: 2px solid #585858;
    box-shadow: 2px 4px 2px black;
    background-image: linear-gradient(178deg, black, #444444);
    color: white;
}

.row {
    display: block;
    width: 100%;
    min-height: 5px;
    position: ;
    top: 0;
    left: 0;
}

#doubleBtn{
    width: 40%;
}

#powerBTN{
    width: 20%;
    background-image: linear-gradient(178deg, rgb(26 153 3), rgb(7, 110, 0));
}

button:hover {
    background-image: linear-gradient(178deg, #696965, #140202);
}




/* The animation code */
@keyframes buttonDesktopClick {
    from {
        transform: translateY(3px);
        box-shadow: -2px -3px 1px black
    }
    to {
    margin: 2px;
    padding: 20px;
    font: bolder;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 3px 1px black;
    background-image: linear-gradient(178deg, black, #140202);
    color: white;
    }
  }

  @keyframes buttonMobileClick {
    from {
        transform: translateY(2px);
        box-shadow: -2px -3px 1px black
    }
    to {
    margin: 2px;
    padding: 15px;
    font: bolder;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 3px 1px black;
    background-image: linear-gradient(178deg, black, #140202);
    color: white;
    }
  }
  
  /* The element to apply the animation to */
  button:active {
    animation-name: buttonDesktopClick;
    animation-duration: 0.5s;
    
}

.name
{
    left: 0;
    float: left;
    margin-left: 0%;
    font-weight: bold;
    font-size: 20px;
    color: #7e6d6d;
    font-variant:small-caps;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}


.instructions
{
    text-align: center;
    text-shadow: 2px 2px 7px black;
    color: rgb(255, 255, 255);
    display: block;
    height: 100%;
    width: 100%;
}

.copyright
{
    height: 35px;
    width: 35px;
    
}

@media (max-width: 1200px) {
    .hideOnMobile
{
    display: none;
}

#instructions
{
    font-size: 12px;
    text-shadow: none;
    max-height: 28px;
    
}

.frame
{
    width: 300px;
    height: 450px;
}

button {
    padding: 15px;
}

button:active {
    animation-name: buttonMobileClick;
    animation-duration: 0.5s;
    
}
  }

.power
{
    display: block;
}

#coffee
{
    width: 250px;
    height: 290px;
    margin-right: -320px;
    margin-top: -292px;
    transform: rotate(90deg);
    float: right;
}

#smoke
{
    width: 250px;
    height: 290px;
    margin-right: -270px;
    margin-top: -404px;
    float: right;
    mix-blend-mode: screen;
    transform: rotate(30deg);
}

#hand
{
    width: 250px;
    height: 290px;
    margin-right: -500px;
    margin-top: -221px;
    float: right;
    mix-blend-mode: multiply;
    transform: rotate(30deg);
}

.shadow
{
    height: 227px;
    width: 256px;
    background-color: #000000;
    margin-top: -248px;
    margin-right: -320px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px;
    float: right;
}